

.center_main{
    text-align: center;

}
body{
    background-image: linear-gradient(45deg,#12c2e9,#c471ed, #f64f59);
}
.main_row{
    
}
.name{
    font-size: 10em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: white;
    
}
.subheading{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-style: italic;
    margin-top: -8%;
    color: white;
}
.headshot{

}
.headshot_photo{

}

.about_me{
    
    /* background-color: white; */
    
    padding: 3%;
    
}
.bio_container{
    background-color: white;
    border-radius: 10px;
}
.social_conatiner{
  

    
}
.social_image{
  /* -webkit-filter: drop-shadow(5px 5px 5px rgb(148, 148, 148));
  filter: drop-shadow(5px 5px 5px rgb(148, 148, 148)); */
} 
.social_name{
    background-image: linear-gradient(45deg,#12c2e9,#c471ed, #f64f59) ;
    padding-right: 13px;
    background-clip: text;
    color: transparent;
}
.social_image_container{
       padding: 0.6em;
}

.portfolio_card_container{
    background-color:white;
    height: 10em;
    border-radius: 10px;
    margin-left: 1%;
    margin-right: 1%;

}
.yellow{
    background-color: yellow;
    height: 10em;
    margin-top: 5%;
}
.hover:hover{
    background-color: white;
  
}